*,
::before,
::after {
    padding: 1px;
    margin: 1px;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: "Baskervville", serif;
    color: linen;
    background-color: rgb(0, 0, 0);
}

img {
    width: 50%;
    object-fit: cover;
}

.text {
    grid-column: 2 / 3;
    font-size: 1.8rem;
    letter-spacing: 0.6px;
    column-width: 25rem;
    text-align: justify;
}