@media (max-width: 600px) {
    #navbar {
        flex-direction: column;
        font-size: 14px;
    }
    * {
    text-align: center;
  }
}

.main{
    display: grid;
    gap: 10;
    grid-row: 1/2;
    box-sizing: border-box;
  }